name: PRs validation
on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize]
    paths:
      - 'src/main/java/**/*.java'
      - 'src/test/java/**/*.java'
      - 'src/main/resources/**/*.yml'
      - 'pom.xml'
jobs:
  analyze-code-quality:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4.1.5
       with:
         # Disabling shallow clone is recommended for improving relevancy of reporting
         fetch-depth: 0
     - name: Set up JDK 21 Temurin for job analyze-code-quality
       uses: actions/setup-java@v4
       with:
         distribution: 'temurin'
         java-version: '21'
     - name: Cache Maven packages
       uses: actions/cache@v4.0.2
       with:
         path: ~/.m2
         key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
         restore-keys: ${{ runner.os }}-m2
     - name: Build and analyze
       env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
       run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=upa-io_microservice-poc
  add-label-pr:
    needs: analyze-code-quality
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v4.1.5
    - name: Set up JDK 20 Temurin for build-artefact
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '20'
    - name: Cache Maven packages
      uses: actions/cache@v4.0.2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      if: ${{ success() }}
      run: |
        if mvn -B package --file pom.xml -DskipTests; then
          echo "BUILD_STATUS=true" >> $GITHUB_ENV
        else
          echo "BUILD_STATUS=false" >> $GITHUB_ENV
        fi
    - name: Resolve build error and add build successful label
      if: ${{ env.BUILD_STATUS && contains(github.event.pull_request.labels.*.name, 'build error') }}
      uses: actions/github-script@v7
      with:
        script: |
          github.rest.issues.removeLabel({
            issue_number: context.payload.pull_request.number,
             owner: context.repo.owner,
             repo: context.repo.repo,
             name: 'build error'
           });

           github.rest.issues.addLabels({
             issue_number: context.payload.pull_request.number,
             owner: context.repo.owner,
             repo: context.repo.repo,
             labels: ['build successful']
          })
    - name: Resolve build successful and add build error label
      if: ${{ !env.BUILD_STATUS && contains(github.event.pull_request.labels.*.name, 'build successful') }}
      uses: actions/github-script@v7
      with:
        script: |
          github.rest.issues.removeLabel({
            issue_number: context.payload.pull_request.number,
             owner: context.repo.owner,
             repo: context.repo.repo,
             name: 'build successful'
           });
          
           github.rest.issues.addLabels({
             issue_number: context.payload.pull_request.number,
             owner: context.repo.owner,
             repo: context.repo.repo,
             labels: ['build error']
          })
    - name: Add label build successful to PR
      if: ${{ env.BUILD_STATUS && !contains(github.event.pull_request.labels.*.name, 'build successful') }}
      uses: actions/github-script@v7
      with:
        script: |
          github.rest.issues.addLabels({
            issue_number: context.payload.pull_request.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            labels: ['build successful']
          })
    - name: Add label build error to PR
      if: ${{ !env.BUILD_STATUS && !contains(github.event.pull_request.labels.*.name, 'build error') }}
      uses: actions/github-script@v7
      with:
        script: |
          github.rest.issues.addLabels({
            issue_number: context.payload.pull_request.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            labels: ['build error']
          })
    - name: Update dependency graph
      uses: advanced-security/maven-dependency-submission-action@v4.0.3
